Repository ritscc/soukai-2023-2, pull requests merged in 2024-02, with the labels that each got.

#57 ２回生総括
  src/soukatsu/2kai.tex
Labels: 総括, 回生

#116 総務局の備品業務方針を執筆しました.
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#115 総務局の会内行事方針を執筆しました.
  src/houshin/soumu/05_gyozi.tex
Labels: 方針, 総務局

#58 研推全体総括
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#114 総務局の書記業務方針を執筆しました.
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

#59 研推全体方針
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

#112 総務局の風紀業務方針を執筆しました.
  src/houshin/soumu/02_huuki.tex
Labels: 方針, 総務局

#60 研推プロジェクト総括
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

#62 Ritsumeinoie houshin kohei
  src/houshin/zentai/07_ritumeihouse.tex
Labels: 方針, 全体

#109 総務局の会内行事総括を執筆しました.
  src/soukatsu/soumu/05_gyozi.tex
Labels: 総括, 総務局

#64 新３回生方針
  src/houshin/3kai.tex
Labels: 方針, 回生

#108 総務局の書記業務総括を執筆しました.
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

#107 総務局の掃除業務総括を執筆しました.
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

#66 全体プロジェクト方針
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体

#106 総務局の風紀業務総括を執筆しました.
  src/soukatsu/soumu/02_huuki.tex
Labels: 総括, 総務局

#105 総務局の全体総括を執筆しました.
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#67 シス管サーバー管理総括を執筆
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

#104 1/soukatsu/zentai/zentai
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#103 5/soukatsu/3kai
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#101 Woo/soukatsu/system/03_study
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

#100 Woo/soukatsu/system/02_kyokukaigi
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

#99 Woo/soukatsu/system/01_zentai
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

#98 Woo/houshin/system/03_study
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

#65 研推のLT総括書きました
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#97 Woo/houshin/system/02_kyokukaigi
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

#70 総会文書を書きました[1回生総括]
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#96 Woo/houshin/system/01_zentai
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#102 28/houshin/zentai
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#72 総会文書書きました[新2回生方針]
  src/houshin/2kai.tex
Labels: 方針, 回生

#73 渉外全体書きました
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

#94 運営方針を執筆
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

#74 渉外方針局会議かきました
  src/houshin/syogai/02_kyokukaigi.tex
Labels: 方針, 渉外局

#75 渉外方針twitter
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

#76 渉外webかきました
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

#93 運営総括を執筆
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#77 渉外総括全体
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

#78 総括渉外アドカレかきました
  src/soukatsu/syogai/02_adokare.tex
Labels: 総括, 渉外局

#91 シス管サーバ管理方針を執筆
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

#79 渉外局会議かきました
  src/soukatsu/syogai/03_kyokukaigi.tex
Labels: 総括, 渉外局

#92 シス管引き継ぎ方針を執筆
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

#80 渉外総括twitterかきました
  src/soukatsu/syogai/04_twitter.tex
Labels: 総括, 渉外局

#90 シス管新局員総括を執筆
  src/soukatsu/system/06_sinkyokuin.tex
Labels: 総括, システム管理局

#89 シス管引継ぎ資料を執筆
  src/soukatsu/system/05_hikitugi.tex
Labels: 総括, システム管理局

#81 渉外総括web書きました
  src/soukatsu/syogai/05_web.tex
Labels: 総括, 渉外局

#82 会計全体方針を執筆
  src/houshin/kaikei/01_zentai.tex
Labels: 方針

#87 会計財政総括を執筆
  src/soukatsu/kaikei/03_zaisei.tex
Labels: 総括

#88 二回目のreset後にforcepush
  src/houshin/zentai/04_sinkan.tex
Labels: 方針, 全体

#84 会計財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針

#83 会計財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針
